<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/jsfpages/customer/List" value="Show All Customer Items"/>
        <br />
        <h:link outcome="/jsfpages/discountCode/List" value="Show All DiscountCode Items"/>
        <br />
        <h:link outcome="/jsfpages/manufacturer/List" value="Show All Manufacturer Items"/>
        <br />
        <h:link outcome="/jsfpages/microMarket/List" value="Show All MicroMarket Items"/>
        <br />
        <h:link outcome="/jsfpages/product/List" value="Show All Product Items"/>
        <br />
        <h:link outcome="/jsfpages/productCode/List" value="Show All ProductCode Items"/>
        <br />
        <h:link outcome="/jsfpages/purchaseOrder/List" value="Show All PurchaseOrder Items"/>
    </h:body>







</html>

