<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVogelTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVogelLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vogelController.selected.id}" title="#{bundle.EditVogelTitle_id}" required="true" requiredMessage="#{bundle.EditVogelRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditVogelLabel_naam}" for="naam" />
                    <h:inputText id="naam" value="#{vogelController.selected.naam}" title="#{bundle.EditVogelTitle_naam}" required="true" requiredMessage="#{bundle.EditVogelRequiredMessage_naam}"/>
                    <h:outputLabel value="#{bundle.EditVogelLabel_soort}" for="soort" />
                    <h:inputText id="soort" value="#{vogelController.selected.soort}" title="#{bundle.EditVogelTitle_soort}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_leefgebied}" for="leefgebied" />
                    <h:inputText id="leefgebied" value="#{vogelController.selected.leefgebied}" title="#{bundle.EditVogelTitle_leefgebied}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_migrate}" for="migrate" />
                    <h:inputText id="migrate" value="#{vogelController.selected.migrate}" title="#{bundle.EditVogelTitle_migrate}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_info}" for="info" />
                    <h:inputText id="info" value="#{vogelController.selected.info}" title="#{bundle.EditVogelTitle_info}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_vogelfotoIdMan}" for="vogelfotoIdMan" />
                    <h:inputText id="vogelfotoIdMan" value="#{vogelController.selected.vogelfotoIdMan}" title="#{bundle.EditVogelTitle_vogelfotoIdMan}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_vogelfotoIdVrouw}" for="vogelfotoIdVrouw" />
                    <h:inputText id="vogelfotoIdVrouw" value="#{vogelController.selected.vogelfotoIdVrouw}" title="#{bundle.EditVogelTitle_vogelfotoIdVrouw}" />
                    <h:outputLabel value="#{bundle.EditVogelLabel_vogelfotoIdJong}" for="vogelfotoIdJong" />
                    <h:inputText id="vogelfotoIdJong" value="#{vogelController.selected.vogelfotoIdJong}" title="#{bundle.EditVogelTitle_vogelfotoIdJong}" />
                </h:panelGrid>
                <h:commandLink action="#{vogelController.update}" value="#{bundle.EditVogelSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVogelViewLink}"/>
                <br />
                <h:commandLink action="#{vogelController.prepareList}" value="#{bundle.EditVogelShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVogelIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
