<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVogelTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVogelEmpty}" rendered="#{vogelController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{vogelController.items.rowCount > 0}">
                    <h:outputText value="#{vogelController.pagination.pageFirstItem + 1}..#{vogelController.pagination.pageLastItem + 1}/#{vogelController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{vogelController.previous}" value="#{bundle.Previous} #{vogelController.pagination.pageSize}" rendered="#{vogelController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{vogelController.next}" value="#{bundle.Next} #{vogelController.pagination.pageSize}" rendered="#{vogelController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{vogelController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_naam}"/>
                            </f:facet>
                            <h:outputText value="#{item.naam}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_soort}"/>
                            </f:facet>
                            <h:outputText value="#{item.soort}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_leefgebied}"/>
                            </f:facet>
                            <h:outputText value="#{item.leefgebied}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_migrate}"/>
                            </f:facet>
                            <h:outputText value="#{item.migrate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_info}"/>
                            </f:facet>
                            <h:outputText value="#{item.info}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_vogelfotoIdMan}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelfotoIdMan}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_vogelfotoIdVrouw}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelfotoIdVrouw}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelTitle_vogelfotoIdJong}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelfotoIdJong}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{vogelController.prepareView}" value="#{bundle.ListVogelViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelController.prepareEdit}" value="#{bundle.ListVogelEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelController.destroy}" value="#{bundle.ListVogelDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{vogelController.prepareCreate}" value="#{bundle.ListVogelCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVogelIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
