<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVogelTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVogelLabel_id}"/>
                    <h:outputText value="#{vogelController.selected.id}" title="#{bundle.ViewVogelTitle_id}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_naam}"/>
                    <h:outputText value="#{vogelController.selected.naam}" title="#{bundle.ViewVogelTitle_naam}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_soort}"/>
                    <h:outputText value="#{vogelController.selected.soort}" title="#{bundle.ViewVogelTitle_soort}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_leefgebied}"/>
                    <h:outputText value="#{vogelController.selected.leefgebied}" title="#{bundle.ViewVogelTitle_leefgebied}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_migrate}"/>
                    <h:outputText value="#{vogelController.selected.migrate}" title="#{bundle.ViewVogelTitle_migrate}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_info}"/>
                    <h:outputText value="#{vogelController.selected.info}" title="#{bundle.ViewVogelTitle_info}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_vogelfotoIdMan}"/>
                    <h:outputText value="#{vogelController.selected.vogelfotoIdMan}" title="#{bundle.ViewVogelTitle_vogelfotoIdMan}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_vogelfotoIdVrouw}"/>
                    <h:outputText value="#{vogelController.selected.vogelfotoIdVrouw}" title="#{bundle.ViewVogelTitle_vogelfotoIdVrouw}"/>
                    <h:outputText value="#{bundle.ViewVogelLabel_vogelfotoIdJong}"/>
                    <h:outputText value="#{vogelController.selected.vogelfotoIdJong}" title="#{bundle.ViewVogelTitle_vogelfotoIdJong}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vogelController.destroyAndView}" value="#{bundle.ViewVogelDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVogelEditLink}"/>
                <br />
                <h:commandLink action="#{vogelController.prepareCreate}" value="#{bundle.ViewVogelCreateLink}" />
                <br />
                <h:commandLink action="#{vogelController.prepareList}" value="#{bundle.ViewVogelShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVogelIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
