<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVogelfotoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVogelfotoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vogelfotoController.selected.id}" title="#{bundle.CreateVogelfotoTitle_id}" required="true" requiredMessage="#{bundle.CreateVogelfotoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateVogelfotoLabel_image}" for="image" />
                    <h:inputTextarea rows="4" cols="30" id="image" value="#{vogelfotoController.selected.image}" title="#{bundle.CreateVogelfotoTitle_image}" required="true" requiredMessage="#{bundle.CreateVogelfotoRequiredMessage_image}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vogelfotoController.create}" value="#{bundle.CreateVogelfotoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{vogelfotoController.prepareList}" value="#{bundle.CreateVogelfotoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVogelfotoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
