<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVogelfotoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVogelfotoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vogelfotoController.selected.id}" title="#{bundle.EditVogelfotoTitle_id}" required="true" requiredMessage="#{bundle.EditVogelfotoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditVogelfotoLabel_image}" for="image" />
                    <h:inputTextarea rows="4" cols="30" id="image" value="#{vogelfotoController.selected.image}" title="#{bundle.EditVogelfotoTitle_image}" required="true" requiredMessage="#{bundle.EditVogelfotoRequiredMessage_image}"/>
                </h:panelGrid>
                <h:commandLink action="#{vogelfotoController.update}" value="#{bundle.EditVogelfotoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVogelfotoViewLink}"/>
                <br />
                <h:commandLink action="#{vogelfotoController.prepareList}" value="#{bundle.EditVogelfotoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditVogelfotoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
