<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVogelfotoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVogelfotoEmpty}" rendered="#{vogelfotoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{vogelfotoController.items.rowCount > 0}">
                    <h:outputText value="#{vogelfotoController.pagination.pageFirstItem + 1}..#{vogelfotoController.pagination.pageLastItem + 1}/#{vogelfotoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{vogelfotoController.previous}" value="#{bundle.Previous} #{vogelfotoController.pagination.pageSize}" rendered="#{vogelfotoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{vogelfotoController.next}" value="#{bundle.Next} #{vogelfotoController.pagination.pageSize}" rendered="#{vogelfotoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{vogelfotoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelfotoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelfotoTitle_image}"/>
                            </f:facet>
                            <h:outputText value="#{item.image}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{vogelfotoController.prepareView}" value="#{bundle.ListVogelfotoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelfotoController.prepareEdit}" value="#{bundle.ListVogelfotoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelfotoController.destroy}" value="#{bundle.ListVogelfotoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{vogelfotoController.prepareCreate}" value="#{bundle.ListVogelfotoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVogelfotoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
