<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVogelfotoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVogelfotoLabel_id}"/>
                    <h:outputText value="#{vogelfotoController.selected.id}" title="#{bundle.ViewVogelfotoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewVogelfotoLabel_image}"/>
                    <h:outputText value="#{vogelfotoController.selected.image}" title="#{bundle.ViewVogelfotoTitle_image}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vogelfotoController.destroyAndView}" value="#{bundle.ViewVogelfotoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVogelfotoEditLink}"/>
                <br />
                <h:commandLink action="#{vogelfotoController.prepareCreate}" value="#{bundle.ViewVogelfotoCreateLink}" />
                <br />
                <h:commandLink action="#{vogelfotoController.prepareList}" value="#{bundle.ViewVogelfotoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVogelfotoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
