<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVogelspotTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_id}" for="id" />
                    <h:inputText id="id" value="#{vogelspotController.selected.id}" title="#{bundle.CreateVogelspotTitle_id}" required="true" requiredMessage="#{bundle.CreateVogelspotRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_vogelId}" for="vogelId" />
                    <h:inputText id="vogelId" value="#{vogelspotController.selected.vogelId}" title="#{bundle.CreateVogelspotTitle_vogelId}" required="true" requiredMessage="#{bundle.CreateVogelspotRequiredMessage_vogelId}"/>
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_locatie}" for="locatie" />
                    <h:inputText id="locatie" value="#{vogelspotController.selected.locatie}" title="#{bundle.CreateVogelspotTitle_locatie}" required="true" requiredMessage="#{bundle.CreateVogelspotRequiredMessage_locatie}"/>
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_tijdwaarneming}" for="tijdwaarneming" />
                    <h:inputText id="tijdwaarneming" value="#{vogelspotController.selected.tijdwaarneming}" title="#{bundle.CreateVogelspotTitle_tijdwaarneming}" required="true" requiredMessage="#{bundle.CreateVogelspotRequiredMessage_tijdwaarneming}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_aantal}" for="aantal" />
                    <h:inputText id="aantal" value="#{vogelspotController.selected.aantal}" title="#{bundle.CreateVogelspotTitle_aantal}" />
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_vogelfotoId}" for="vogelfotoId" />
                    <h:inputText id="vogelfotoId" value="#{vogelspotController.selected.vogelfotoId}" title="#{bundle.CreateVogelspotTitle_vogelfotoId}" />
                    <h:outputLabel value="#{bundle.CreateVogelspotLabel_vogelaarId}" for="vogelaarId" />
                    <h:inputText id="vogelaarId" value="#{vogelspotController.selected.vogelaarId}" title="#{bundle.CreateVogelspotTitle_vogelaarId}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vogelspotController.create}" value="#{bundle.CreateVogelspotSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{vogelspotController.prepareList}" value="#{bundle.CreateVogelspotShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateVogelspotIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
