<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListVogelspotTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListVogelspotEmpty}" rendered="#{vogelspotController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{vogelspotController.items.rowCount > 0}">
                    <h:outputText value="#{vogelspotController.pagination.pageFirstItem + 1}..#{vogelspotController.pagination.pageLastItem + 1}/#{vogelspotController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{vogelspotController.previous}" value="#{bundle.Previous} #{vogelspotController.pagination.pageSize}" rendered="#{vogelspotController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{vogelspotController.next}" value="#{bundle.Next} #{vogelspotController.pagination.pageSize}" rendered="#{vogelspotController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{vogelspotController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_vogelId}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_locatie}"/>
                            </f:facet>
                            <h:outputText value="#{item.locatie}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_tijdwaarneming}"/>
                            </f:facet>
                            <h:outputText value="#{item.tijdwaarneming}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_aantal}"/>
                            </f:facet>
                            <h:outputText value="#{item.aantal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_vogelfotoId}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelfotoId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVogelspotTitle_vogelaarId}"/>
                            </f:facet>
                            <h:outputText value="#{item.vogelaarId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{vogelspotController.prepareView}" value="#{bundle.ListVogelspotViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelspotController.prepareEdit}" value="#{bundle.ListVogelspotEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{vogelspotController.destroy}" value="#{bundle.ListVogelspotDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{vogelspotController.prepareCreate}" value="#{bundle.ListVogelspotCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListVogelspotIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
