<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVogelspotTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVogelspotLabel_id}"/>
                    <h:outputText value="#{vogelspotController.selected.id}" title="#{bundle.ViewVogelspotTitle_id}"/>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_vogelId}"/>
                    <h:outputText value="#{vogelspotController.selected.vogelId}" title="#{bundle.ViewVogelspotTitle_vogelId}"/>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_locatie}"/>
                    <h:outputText value="#{vogelspotController.selected.locatie}" title="#{bundle.ViewVogelspotTitle_locatie}"/>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_tijdwaarneming}"/>
                    <h:outputText value="#{vogelspotController.selected.tijdwaarneming}" title="#{bundle.ViewVogelspotTitle_tijdwaarneming}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_aantal}"/>
                    <h:outputText value="#{vogelspotController.selected.aantal}" title="#{bundle.ViewVogelspotTitle_aantal}"/>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_vogelfotoId}"/>
                    <h:outputText value="#{vogelspotController.selected.vogelfotoId}" title="#{bundle.ViewVogelspotTitle_vogelfotoId}"/>
                    <h:outputText value="#{bundle.ViewVogelspotLabel_vogelaarId}"/>
                    <h:outputText value="#{vogelspotController.selected.vogelaarId}" title="#{bundle.ViewVogelspotTitle_vogelaarId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vogelspotController.destroyAndView}" value="#{bundle.ViewVogelspotDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVogelspotEditLink}"/>
                <br />
                <h:commandLink action="#{vogelspotController.prepareCreate}" value="#{bundle.ViewVogelspotCreateLink}" />
                <br />
                <h:commandLink action="#{vogelspotController.prepareList}" value="#{bundle.ViewVogelspotShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewVogelspotIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
