<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
		<link rel="stylesheet" type="text/css" href="hackatonStyle.css"/>
        <title>JSF 2.0 Hackaton voorbeeld</title>
    </h:head>
    <h:body>
    
    	<div class="main">
    		<div class="titlebar">
    			<!-- titlebar -->
    			<h1>Events pagina</h1>
    		</div>

    		<div class="navbar">
    			<!-- navbar -->
    			Navigatie
    			<ul>
    				<li>
    					<a class="link" href="http://www.tutorialspoint.com/jsf/index.htm">Tutorialspoint</a>
    				</li>
    				<li><br/></li>
    				<li>
    					<h:link styleClass="link" value="Logout" outcome="login"/>
    				</li>
    				<li>
    					<h:link styleClass="link" value="Welkom" outcome="welcome"/>
    				</li>
    				
    			</ul>
    		</div>

    		<div class="mainbar">
	    	   	<h3>Hackaton voorbeeldpagina - events.xhtml</h3>
	    	   	<a>
	    	   		Uit welke provincie komt u?
	    	   		<h:form>
		    	  	 	<h:selectOneMenu value="#{otherManagedBean.provincie}"  
		    	  	 			onchange="submit()" 
	  								valueChangeListener="#{otherManagedBean.provincieChanged}" >
	   						<f:selectItems value="#{otherManagedBean.provincien}" />
						</h:selectOneMenu>
					</h:form>
	   			</a>
     		</div>

	   	</div>
 
    </h:body>
</html>