@CHARSET "UTF-8";

body {
	align: center;
	margin: 0;	
	font-size: 1em;
}
ul {
	list-style-type: none;
	padding-left: 10px;
}

.main {
	position:relative;
	margin:auto;
	width:800px;
	align:left;
	padding: 0px;
	min-height: 100%;
}
.titlebar {
	float: top;
	align: left;
	padding: 1px;
	padding-left: 200px;
}
.navbar {
	float: left;
	width: 150px;
	min-height: 100%;
}
.mainbar {
	float:left;
	min-height: 100%;
	max-width: 600px;
}

.commandButton {
	float:right;
	margin-right: 20px;
}
.link {
	text-decoration: none;
	color:black;	
}
.link:hover {
	color:grey;	
	font-weight: bold
}


			
