<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
		<link rel="stylesheet" type="text/css" href="hackatonStyle.css"/>
        <title>JSF 2.0 Hackaton voorbeeld</title>
    </h:head>
    <h:body>
    
    	<div class="main">
    		<div class="titlebar">
    			<!-- titlebar -->
    			<h1>Login pagina</h1>
    		</div>

    		<div class="navbar">
    			<!-- navbar -->
    			Navigatie
     			<ul>
    				<li>
    					<a class="link" href="http://www.tutorialspoint.com/jsf/index.htm">Tutorialspoint</a>
    				</li>
    			</ul>
    			
    		</div>

    		<div class="mainbar">
	    	   	<h3>Hackaton voorbeeldpagina - login.xhtml</h3>
		    	<h:form>
		    		<table>
		    			<tr>
		    				<td>
		    					Name
		    				</td>
		    				<td>
					    	   <h:inputText id="nameInput" name="Name-field" value="#{helloBean.name}">
					    	   		 <f:validator validatorId="nl.hackaton.validator.UsernameValidator" />
					    	   </h:inputText>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td>
		    					Password
		    				</td>
		    				<td>
					    	   <h:inputSecret id="passInput" value="#{helloBean.password}">
					    	   		<f:validateLength maximum="8" />
					    	   </h:inputSecret>
		    				</td>
		    			</tr>
		    		</table>
		    		<h:message for="nameInput" style="color:red" />
		    		<br/>
		    		<h:message for="passInput" style="color:red" />
		    	   	<h:commandButton class="commandButton" value="Login" action="welcome?faces-redirect=true"></h:commandButton>
		    	</h:form>
    		</div>
	   	</div>
 
    </h:body>
</html>